[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
requests = "*"
python-dotenv = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-results = "*"
django-cors-headers = "*"
django-elasticsearch = "*"
daphne = "*"
faker = "*"
pyautogui = "*"
django-storages = '*'
boto3 = '*'

[dev-packages]

[requires]
python_version = "3.12"
